body { text-align: center; }

.mainSection {
    width: 90%;
    margin: 20px auto;
    height: 150px;
    
    clear: both;
    
    border: 1px solid #dddddd;
    border-radius: 10px;
    
    overflow: hidden;
    cursor: default;
}

.mainSection:hover {
    border: 1px solid #4285F4;
    color: #4285F4;
}

.fl, .fr {
    height: 150px;
    line-height: 150px;
    width: 50%;
}

.fr {
    background-color: #DDDDDD;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: bottom center;
}

#regist:hover { cursor: pointer; }

#regist .fr {
    background-image: url(../images/sellingProducts.png);
}

#purchase .fr {
    background-image: url(../images/purchaseProducts.png);
}

#findForm {
    margin-left: 100%;
    background-color: #DDDDDD;
}